.header {
  box-sizing: border-box;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 45px 0 41px 0;
}

@media screen and (max-width: 879px) {
  .header {
    padding: 28px 0 31px 0;
    flex-wrap: wrap-reverse;
    align-content: flex-end;
    align-items: flex-start;
  }
}