.popup__save-button {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  background: #000000;
  margin-top: 38px;
  padding: 0;
  width: 358px;
  height: 50px;
  border-radius: 2px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: opacity .1s linear;
}

.popup__save-button:hover {
  opacity: .8;
}

@media screen and (max-width: 879px) {
  .popup__save-button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 29px;
  }
}