.popup__input-error {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  display: block;
  box-sizing: border-box;
  opacity: 0;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  transition: opacity .3s;
}
