.login__welcome {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  margin: 60px 0 0;
}

@media screen and (max-width: 879px) {
  .login__welcome {
    font-size: 20px;
    line-height: 24px;
    margin: 40px 0 0;
  }
}