.header__signout {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #A9A9A9;
  border: none;
  background: transparent;
  grid-area: signout;
  margin: 0;
  padding: 0;
}